* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

header {
  margin: 2rem;
  padding: 0.75rem 0.75rem 0.75rem 1.5rem;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  word-spacing: 100vw;
  color: white;
  font-size: 1.3rem;
  line-height: 0.85;
  text-transform: uppercase;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;

}

.score h2 {
  color: hsl(229, 64%, 46%);
  font-size: 0.65rem;
  letter-spacing: 1px;
}

.score p {
  color: hsl(229, 25%, 31%);
  font-size: 2.3rem;
  font-weight: 700;
}

main {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-items: center;
  background: url(./assets/bg-triangle.svg) no-repeat;
  background-size: 50%;
  background-position: center;
}

main img{
  pointer-events: none;
}

.paper, .scissors, .rock {
  width: 8.125rem;
  height: 8.125rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: anim-icon 0.5s forwards;
  cursor: pointer;
  transition: filter 0.4s ease;
}

@keyframes anim-icon {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.paper:hover, .scissors:hover, .rock:hover {
  filter: brightness(60%);
}

.paper{
  border: 15px solid hsl(230, 89%, 62%);
  box-shadow: 0 6px hsl(230, 89%, 55%), inset 0 5px rgba(0, 0, 0, 0.15);
}

.scissors {
  border: 15px solid hsl(39, 89%, 49%);
  box-shadow: 0 6px hsl(39, 89%, 29%), inset 0 5px rgba(0, 0, 0, 0.15);
}

.rock {
  border: 15px solid hsl(349, 71%, 52%);
  box-shadow: 0 6px hsl(349, 71%, 32%), inset 0 5px rgba(0, 0, 0, 0.15);
  grid-column: span 2;
}

footer {
  position: relative;
  color: white;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  padding: 0.7rem 2.5rem;
  margin-bottom: 4rem;
  text-align: center;
  cursor: pointer;
  background: transparent;
  transition: 0.4s ease;
}

footer:hover {
  background: white;
  color: hsl(229, 25%, 31%);
}

footer h1 {
  font-size: 1rem;
  letter-spacing: 2px;
  pointer-events: none;
}

.rules-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s ease;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.rules-page h2 {
  color: hsl(229, 25%, 31%);
  font-size: 2rem;
  font-weight: 700;  
}

.rules-page p:not(:last-child) {
  color: hsl(229, 25%, 31%);
}

.beats {
  transform: scale(0);
  transition: 1s ease 0.2s;
}

.close {
  color: hsl(217, 16%, 75%);
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.show {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}

.playing {
  width: 90%;
}

.battle {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  justify-items: center;
  gap: 2rem;

  color: white;
  letter-spacing: 1px;
}

.battle .rock {
  grid-column: span 1;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: 700;
  animation: anim-result 1.5s forwards;
  opacity: 0;
}

@keyframes anim-result {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.result button {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 1rem 5rem;
  margin-top: 1rem;
  font-size: 1rem;  
  font-weight: 700;
  letter-spacing: 2px;
  color: hsl(229, 25%, 31%);
  transition: 0.4s ease;
  cursor: pointer;
}

.result button:hover {
  background: transparent;
  color: white;
  box-shadow: 0px 0px 0px 1px white;
}